.sub-title {
    position: relative;
    z-index: 7;
    margin-left: 270px;
    top: 80px;
    color: #eaeaea;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .see-all {
    margin-right: 20px;
    color: #b3b3b3;
    font-size: 12px;
    font-weight: 700;
  }